*, ::before, ::after {
    box-sizing: border-box;
}
.html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: rgb(239, 239, 239);
    line-height: 1.15;
    //text-size-adjust: 100%;
}
.div {
    display: block;
}
body {
    background: rgb(239, 239, 239);
}
.PhanChung {
    padding-left: 30px;
    padding-right:15px;
    margin-right: 0px;
    margin-left: 0px;
    background: rgb(239, 239, 239);
}
.KhungChung {
    padding-right: 15%;
    padding-left: 5%;
    display: flex;
    width: 100%;
    margin:  20px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}
.MucTuyChon {
    /*display: flex;*/
    /*flex: 1;*/
    margin-right: 17px;
}
.TenNguoiDung {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 7px;
    margin: 0px 0px 12px;
}
.TenNguoiDung img {
    width: 45px;
    margin: 0px 12px 0px 0px;
    border-radius: 50%;
}
img {
    border-style: none;
    max-width: 100%;
}
.TenNguoiDung .info {
    flex: 1 1 0%;
    font-size: 13px;
    line-height: 15px;
    color: rgb(51, 51, 51);
    font-weight: 300;
}
.ThongTinTuyChon {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 13px;
}

.ThongTinTuyChon a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 7px 18px;
    color: rgb(74, 74, 74);
}
.ThongTinTuyChon a svg, .ThongTinTuyChon a .icon {
    width: 24px;
    height: 24px;
    margin: 0px 22px 0px 0px;
    font-size: 24px;
    color: rgb(155, 155, 155);
}

.ThongTinTuyChon a {
    color: rgb(74, 74, 74);
}

.ThongTinTuyChon a:hover {
    background: rgb(0, 127, 240);
    color: #fff;
}

.ThongTinSanPham {
    display: flex;
    flex: 1 1 0%;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.HeaderThongtinsanpham {
    font-size: 19px;
    line-height: 21px;
    font-weight: 300;
    margin: 20px 0px 15px;
}
.KhungThongTinSanPham {
    background-color: rgb(255, 255, 255);
    padding: 60px 20px;
    flex: 1 1 0%;
    display: flex;
}
.KhungThongTinSanPham .Khung-form{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 15px;
}
.KhungThongTinSanPham .input-label {
    width: 110px;
    min-width: 110px;
    font-size: 15px;
    color: rgb(51, 51, 51);
}
.KhungThongTinSanPham .Khung-form > div {
    display: flex;
    flex: 1 1 0%;
    position: relative;
    z-index: 1;
}
.KhungThongTinSanPham .Khung-form input {
    flex: 1 1 0%;
}
.TenSanPham {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    border-color: black;
}
.DanhMucSanPham {
    display: flex;
}

.DanhMucSanPham select {
    width: 100px;
    border: 1px solid rgb(204, 204, 204);
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    border-radius: 4px;
    margin: 0px 12px 0px 0px;
    background: 0px center;
    box-shadow: none;
    border-color: black;
}

/*button, input, optgroup, select, textarea {*/
/*    font-family: inherit;*/
/*    font-size: 100%;*/
/*    line-height: 1.15;*/
/*    margin: 0px;*/
/*}*/
.KhungThongTinSanPham .btn-them{
    border: 0px;
    width: 176px;
    height: 40px;
    border-radius: 4px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    background-color: rgb(253, 216, 53);
    cursor: pointer;
}
.KhungThongTinSanPham .btn-capnhat{
    border: 0px;
    width: 176px;
    height: 40px;
    border-radius: 4px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    background-color: rgb(253, 216, 53);
    cursor: pointer;
    justify-content: flex-end;

}

.margin30 {
    margin: 30px;
}

.Khung-form .flex-btn  {
    justify-content: center;
    flex: 1 1 0%;
}

.MoTa {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 60px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    border-color: black;
}

.GiaBan {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    border-color: black;
}

.Giagiam {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    border-color: black;
}