*, ::before, ::after {
    box-sizing: border-box;
}
.html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: rgb(239, 239, 239);
    line-height: 1.15;
    //text-size-adjust: 100%;
}
.div {
    display: block;
}
body {
    background: rgb(239, 239, 239);
}
.PhanChung {
    margin-right: 0px;
    margin-left: 0px;
    background: rgb(239, 239, 239);
}
.KhungChung {
    display: flex;
    width: 100%;
    margin: 0px auto 20px;
    flex-wrap: wrap;
}
.ThungChua {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.MucTuyChon {
    margin-right: 17px;
}
.TenNguoiDung {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 7px;
    margin: 0px 0px 12px;
}
.TenNguoiDung img {
    width: 45px;
    margin: 0px 12px 0px 0px;
    border-radius: 50%;
}
img {
    border-style: none;
    max-width: 100%;
}
.TenNguoiDung .info {
    flex: 1 1 0%;
    font-size: 13px;
    line-height: 15px;
    color: rgb(51, 51, 51);
    font-weight: 300;
}
.ThongTinTuyChon {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 13px;
}


.ThongTinTuyChon a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 7px 18px;
    color: rgb(74, 74, 74);
}

.ThongTinTuyChon a svg, .ThongTinTuyChon a .icon {
    width: 24px;
    height: 24px;
    margin: 0px 22px 0px 0px;
    font-size: 24px;
    color: rgb(155, 155, 155);
}

.ThongTinTuyChon a:hover {
    background: rgb(0, 127, 240);
    color: #fff;
}
.ThongTinTuyChon a:hover .icon {
    filter: invert(1);
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.margin30 {
    margin: 30px;
}




.HeaderThongtinsanpham {
    font-size: 19px;
    line-height: 21px;
    font-weight: 300;
    margin: 20px 0px 15px;
}

/*Tai-Khoan*/
.KhungThongTinTaiKhoan {
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.KhungThongTinTaiKhoan .Khung-form{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 110px;
    justify-content: space-evenly;
}
.KhungThongTinTaiKhoan .input-label {
    width: 150px;
    min-width: 110px;
    font-size: 16px;
    color: rgb(51, 51, 51);
}
.KhungThongTinTaiKhoan .Khung-form > div {
    display: flex;
    flex: 1 1 0%;
    position: relative;
    z-index: 1;
}
.KhungThongTinTaiKhoan .Khung-form input {
    flex: 1 1 0%;
}

.Khung-ben-phai {
    display: block;
    width: 500px;
    flex: 1 0%;
}
.Khung-form .flex-btn  {
    justify-content: center;
    flex: 1 1 0%;
}
.TenSanPham {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    border-color: black;
}
.DanhMucSanPham {
    display: flex;
}

.DanhMucSanPham select {
    width: 100px;
    border: 1px solid rgb(204, 204, 204);
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    border-radius: 4px;
    margin: 0px 12px 0px 0px;
    background: 0px center;
    box-shadow: none;
    border-color: black;
}

.MoTa {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 60px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    border-color: black;
}

.GiaBan {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    border-color: black;
}
.Giagiam {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    border-color: black;
}

ul .active {
    background-color: #3498db;
    color: #fff;
}

ul .active .icon{
    filter: invert(1);
}

a {
    cursor: pointer;
}



.Khung-dien {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;

}

.Khung-ben-phai .label {
    font-size: 19px;
    line-height: 21px;
    font-weight: 300;
    margin: 20px 0px 15px;
}
button {
    margin: 40px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-7 {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-7:before,
.btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-7:before{
    height: 0%;
    width: 2px;
}
.btn-7:after {
    width: 0%;
    height: 2px;
}
.btn-7:hover{
    color: rgba(251,75,2,1);
    background: transparent;
}
.btn-7:hover:before {
    height: 100%;
}
.btn-7:hover:after {
    width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-7 span:before {
    width: 2px;
    height: 0%;
}
.btn-7 span:after {
    height: 2px;
    width: 0%;
}
.btn-7 span:hover:before {
    height: 100%;
}
.btn-7 span:hover:after {
    width: 100%;
}
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    /*margin: 1em;*/
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}
.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    /*padding: 0 1em;*/
    width: 40%;
    color: #696969;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}
.icon {
    color: #ddd;
    font-size: 150%;
}
.input--shoko {
    overflow: hidden;
    padding-bottom: 2.5em;
    width: 500px;
}

.input__field--shoko {
    padding: 0;
    margin-top: 1.2em;
    width: 100%;
    background: transparent;
    color: #000;
    font-size: 1.55em;
}

.input__label--shoko {
    position: absolute;
    top: 2em;
    left: 0;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #A09C9C;
    pointer-events: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.2s 0.1s, color 0.3s;
    transition: transform 0.2s 0.1s, color 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.graphic--shoko {
    stroke: #A09C9C;
    pointer-events: none;
    stroke-width: 2px;
    top: 1.25em;
    bottom: 0px;
    height: 3.275em;
    -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
    transition: transform 0.7s, stroke 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--shoko:focus + .input__label--shoko,
.input--filled .input__label--shoko {
    color: #A58282;
    -webkit-transform: translate3d(0, 3.5em, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(0, 3.5em, 0) scale3d(0.85, 0.85, 1);
}

.input__field--shoko:focus ~ .graphic--shoko,
.input--filled .graphic--shoko {
    stroke: #A58282;
    -webkit-transform: translate3d(-66.6%, 0, 0);
    transform: translate3d(-66.6%, 0, 0);
}
.content {
    font-size: 150%;
    /*padding: 3em 0;*/
}
/*Thong-Bao*/
.tabs {
    position: relative;
    margin-top: 30px;
    display: block;
    flex: 1 1 0%;
}

.tabs input {
    position: absolute;
    z-index: 1000;
    width: 120px;
    height: 40px;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    cursor: pointer;
}
.tabs input#tab-2{
    left: 120px;
}
.tabs input#tab-3{
    left: 240px;
}
.tabs input#tab-4{
    left: 360px;
}

.tabs label {
    background: #FDB827;
    background: -moz-linear-gradient(top, #FD8C04 0%,#FDB827 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FD8C04), color-stop(100%,#FDB827));
    background: -webkit-linear-gradient(top, #FD8C04 0%,#FDB827 100%);
    background: -o-linear-gradient(top, #FD8C04 0%,#FDB827 100%);
    background: -ms-linear-gradient(top, #FD8C04 0%,#FDB827 100%);
    background: linear-gradient(top, #FD8C04 0%,#FDB827 100%);
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    position: relative;
    padding: 0 20px;
    float: left;
    display: block;
    width: 200px;
    color: #000;
    top: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

.tabs label:after {
    content: '';
    background: #fff;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 8px;
    display: block;
}

.tabs input:hover + label {
    background: -webkit-linear-gradient(top, #FD8C04 0%,#FDB827 100%);
    top: -8px;
    -webkit-transition: top linear 0.2s;
    -moz-transition: top linear 0.2s;
    -o-transition: top linear 0.2s;
    -ms-transition: top linear 0.2s;
    transition: top linear 0.2s;
}
.tabs input:hover + label:after{
    background: #FDB827 ;
}
.tabs input:hover + label ~ .clear-shadow {
    top: -8px;
    -webkit-transition: top linear 0.2s;
    -moz-transition: top linear 0.2s;
    -o-transition: top linear 0.2s;
    -ms-transition: top linear 0.2s;
    transition: top linear 0.2s;
}

.tabs input:checked:hover + label {
    top: 0;
}
.tabs input:checked:hover + label:after{
    background: #fff;
}
.tabs input:checked:hover + label ~ .clear-shadow {
    top: 0;
    background: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.tabs input.tab-selector-1:hover + label.tab-label-1 ~ .clear-shadow{
    z-index: 3;
}

.tabs input.tab-selector-2:hover + label.tab-label-2 ~ .clear-shadow {
    z-index: 2;
}

.tabs input.tab-selector-3:hover + label.tab-label-3 ~ .clear-shadow {
    z-index: 1;
}

.tabs input.tab-selector-4:hover + label.tab-label-4 ~ .clear-shadow {
    z-index: 0;
}
.tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background: #fff;
    z-index: 6;
    -webkit-transition: top linear 0.2s;
    -moz-transition: top linear 0.2s;
    -o-transition: top linear 0.2s;
    -ms-transition: top linear 0.2s;
    transition: top linear 0.2s;
}

.clear-shadow {
    background: #FDB827;
    position: relative;
    top: 0;
    height: 10px;
    margin-bottom: -10px;
    clear: both;
    z-index: -2;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.content {
    background: #fff;
    position: relative;
    width: 100%;
    height: 500px;
    z-index: 5;
    overflow: hidden;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.content div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 100%;
    padding: 10px 40px;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
    bottom: 0px;
    z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.2s;
    -moz-transition: all ease-out 0.2s 0.2s;
    -o-transition: all ease-out 0.2s 0.2s;
    -ms-transition: all ease-out 0.2s 0.2s;
    transition: all ease-out 0.2s 0.2s;
}

.content div h2,
.content div h3{
    color: #FDB827;
}
.content div p {
    font-size: 14px;
    line-height: 22px;
    font-style: italic;
    text-align: left;
    margin: 0;
    color: #777;
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    border-left: 8px solid rgba(63,148,148, 0.1);
}
