html {
    font-family: Roboto,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 14px;
}body {
    margin: 0px;
    line-height: 1.15;
    text-size-adjust: 100%;
}body {
    overflow-x: hidden;
}body {
    display: block;
}*,
::before,
::after {
    box-sizing: border-box;
}a {
    text-decoration: none;
}img {
    max-width: 100%;
}
.header {
    position: relative;
    background: rgb(1, 127, 255);
    z-index: 999;
}
.header * {
    letter-spacing: normal;
}
.container {
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    margin-right: auto;
    margin-left: auto;

}
.bottom_root {
    position: relative;
    z-index: 1;
}
.middle_wrap {
    display: flex;
    padding: 18px 0px 8px 0px;
    height: auto;
    position: relative;
    z-index: 2;
    -webkit-box-align: center;
    align-items: center;
}
.middle_left_container {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
}
.logo_menu {
    display: flex;
    align-items: flex-start;
    flex-basis: 248px;
    flex-shrink: 0;
    padding: 0px 16px 0px 0px;
}
.style_logo {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex: 1 1 0%;
    color: rgb(0, 127, 240);
}
.logo {
    width: 60px;
    height: 40px;
    color: aliceblue;
    font-size: 30px;
    text-decoration: none;
}
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.no-underline {
    text-decoration: none;
}
.form-search-root {
    flex: 1 1 0%;
}
.form-search-form {
    width: 100%;
    display: flex;
    position: relative;
    box-shadow: rgb(98 98 98 / 50%) 0px 1px 2px 0px;
}
.form-search-input {
    border: 0px;
    padding: 0px 12px;
    font-size: 13px;
    border-radius: 2px 0px 0px 2px;
    flex: 1 1 0%;
    outline: none;
}button,
input {
    overflow: visible;
}button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}
.form-search-button {
    cursor: pointer;
    border: 0px;
    width: 120px;
    background: rgb(13, 92, 182);
    height: 40px;
    border-radius: 0px 2px 2px 0px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.form-search-button .icon-search {
    width: 20px;
    height: 20px;
    margin: 0px 8px 0px 0px;
}
.header-user {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.header-account-container {
    cursor: pointer;
    margin: 0px 0px 0px 16px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 12px;
    position: relative;
    letter-spacing: 0.7px;
}
.profile-icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 2px;
}
.style-wrapper {
    cursor: pointer;
    display: flex;
    align-self: stretch;
}
.style-wrapper .menu-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    min-height: 44px;
}
.style-wrapper .menu-button .hamburger-menu {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.style-wrapper .menu-button .wrap {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}
.style-wrapper .menu-button .wrap span {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
}
.style-wrapper .menu-button .wrap .text-icon {
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    display: flex;
    align-items: flex-end;
}
.style-wrapper .menu-button .wrap .text-icon img {
    position: relative;
    top: -1px;
    width: 16px;
    height: 16px;
}
.header-user-shortcut-cart {
    position: relative;
    display: block;
}
.header-user-shortcut-cart a {
    color: rgb(0, 127, 240);
    text-decoration: none;
    background-color: transparent;
}
.user-style-item {
    cursor: pointer;
    margin: 0px 0px 0px 16px;
    -webkit-box-align: center;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 12px;
    position: relative;
    letter-spacing: 0.7px;
    align-items: flex-end;
}
.user-style-item .cart-wrapper {
    position: relative;
    margin-right: 8px;
    display: flex;
}
.cart-icon {
    width: 32px;
    height: 32px;
}
.num-cart-item {
    color: rgb(36, 36, 36);
    background: rgb(253, 216, 53);
    height: 20px;
    left: 20px;
    top: -2px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    padding: 0px 7px;
}
.user-style-item-text {
    color: rgb(255, 255, 255);
    font-weight: 400;
    white-space: nowrap;
    display: flex;
    flex-direction: column;

}
.user-style-no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 11px;
    line-height: 16px;
}
.user-style-item-text .account-label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    line-height: 20px;
    min-width: 120px;
}
.user-style-item-text .account-label span {
    max-width: 104px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.arrow-icon {
    width: 16px;
    height: 16px;
}
.overlay {
    position: fixed;
    visibility: collapse;
    inset: 0px;
    background: rgba(0, 0, 0, 0.53);
    overflow-y: scroll;
    z-index: 1000;
}
.overlay-content {
    position: relative;
    inset: 0px;
    border: none;
    background: rgb(255, 255, 255);
    overflow: unset;
    border-radius: 20px;
    outline: none;
    padding: 0px;
    width: 800px;
    margin: 80px auto;
}
.overlay-root {
    background: rgb(248, 248, 248);
    display: flex;
    width: 100%;
    border-radius: 20px;
    position: relative;
}
.overlay-root .btn-close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    cursor: pointer;
}
.overlay-root .btn-close img {
    max-width: 100%;
}
.overlay-root .style-left {
    width: 500px;
    padding: 40px 45px 24px;
    background: rgb(255, 255, 255);
    border-radius: 20px 0px 0px 20px;
}
.style-login {

}
.style-login .heading {
    margin: 20px 0px;
    color: rgb(36, 36, 36);
}
.style-login .heading h4 {
    margin: 0px 0px 10px;
    font-size: 24px;
    font-weight: 500;
}
.style-login .heading p {
    margin: 0px;
    font-size: 15px;
    line-height: 20px;
}
.style-login .input {
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
}
.style-login .input input {
    width: 100%;
    padding: 10px 0px;
    border: none;
    font-size: 14px;
    color: rgb(36, 36, 36);
    outline: none;
}
.style-login .input::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.style-login .input-fill::before {
    border-color: rgb(13, 92, 182);
}
.style-login .input .show-password {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 2;
    color: rgb(13, 92, 182);
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
}
.style-login .input .hide-password {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 2;
    color: rgb(13, 92, 182);
    font-size: 14px;
    display: none;
    cursor: pointer;
}
.style-login form button {
    margin: 26px 0px 10px;
    outline: none;
    border-radius: 4px;
    background: rgb(255, 66, 78);
    padding: 13px 0px;
    width: 100%;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.style-login .forgot-pass {
    color: rgb(13, 92, 182);
    font-size: 13px;
    margin: 20px 0px 0px;
    cursor: pointer;
    display: inline-block;
}
.style-login .create-account {
    color: rgb(120, 120, 120);
    font-size: 13px;
    margin: 10px 0px 0px;
}
.style-login .create-account span {
    color: rgb(13, 92, 182);
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
.style-right {
    background: linear-gradient(
            136deg
            , rgb(240, 248, 255) -1%, rgb(219, 238, 255) 85%);
    width: 300px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
}
.style-right .content {
    margin: 30px 0px 0px;
    text-align: center;
}
.style-right .content h4 {
    margin: 0px 0px 5px;
    color: rgb(11, 116, 229);
    font-size: 17px;
    font-weight: 500;
}
.style-right .content span {
    font-size: 13px;
    color: rgb(11, 116, 229);
    font-weight: 500;
}
.style-login .login-with-email {
    margin: 10px 0px 0px;
    text-align: center;
    color: rgb(13, 92, 182);
    cursor: pointer;
}
.style-login-with-phone {
}
.style-login-with-email {
}
.style-login-with-pass {
}
.style-login .btn-action {
    cursor: pointer;
    padding: 0px;
    margin: 0px 0px 10px;
    background: transparent;
    border: none;
}
.style-login .btn-action img {
    width: 21px;
}
.style-social {
    text-align: center;
    margin: 80px 0px 0px;
}
.style-social .social-heading {
    margin: 0px 0px 15px;
    position: relative;
}
.style-social .social-heading span {
    font-size: 15px;
    color: rgb(120, 120, 120);
    display: inline-block;
    background: rgb(255, 255, 255);
    padding: 0px 20px;
    position: relative;
    z-index: 2;
}
.style-social .social__items {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px 0px 10px;
    list-style: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.style-social .social__item {
    margin: 0px 10px;
}
.style-social .social__item img {
    width: 58px;
}
.style-social .note {
    font-size: 11px;
    color: rgb(120, 120, 120);
    text-align: center;
}
.style-social .note a {
    display: inline-block;
    text-decoration: underline;
    margin-left: 5px;
    font-size: 11px;
    color: rgb(120, 120, 120);
}
.style-login-with-phone .input input {
    width: 100%;
    padding: 10px 0px;
    border: none;
    font-size: 24px;
    color: rgb(36, 36, 36);
    outline: none;
}
.style-login-with-phone .input {
    margin: 0px;
}
.style-login-with-phone .heading {
    margin-top: 0px;
}


.footer-wraper {
    padding-top: 50px;
}
.footer-newletter {
    background-color: rgb(247, 247, 247);
}
.container-newletter {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-newletter {
    display: flex;
    height: 100px;
    padding-top: 32px;
}
.footer-newletter .NewsLetter-icon {
    margin-top: -50px;
    margin-right: 20px;
}
.footer-newletter .NewsLetter-description {
    margin-right: 30px;
    margin-bottom: 0px;
    color: rgb(78, 80, 82);
}
.footer-newletter .NewsLetter-description h3 {
    margin: 0px;
    font-size: 16px;
}

.footer-newletter .NewsLetter-description h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.footer-newletter .NewsLetter-description h5 {
    margin: 5px 0px 0px;
    font-size: 13px;
}
.footer-newletter .NewsLetter-form {
    display: flex;
}
.footer-newletter .NewsLetter-form input {
    flex: 1 1 0%;
    width: 345px;
    height: 34px;
    margin-right: 10px;
    padding: 6px 12px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.footer-newletter .NewsLetter-form button {
    cursor: pointer;
    height: 34px;
    padding: 6px 12px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.42857;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 175, 239);
    outline: none;
}
.footer-information {
    padding: 40px 0px;
    border-top: 1px solid rgb(247, 247, 247);
    border-bottom: 1px solid rgb(247, 247, 247);
    background-color: rgb(255, 255, 255);
}
.container-information {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-information h4 {
    margin: 0px 0px 17px;
    color: rgb(51, 51, 51);
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    text-transform: uppercase;
}
.container-information .hotline {
    margin-bottom: 10px;
    color: rgb(196, 1, 26);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
.container-information .hotline a {
    color: rgb(196, 1, 26);
}
.footer-wraper .small-text {
    display: block;
    margin-bottom: 11px;
    color: rgb(51, 51, 51);
    font-size: 12px;
    font-weight: normal;
}
.container-information .security {
    margin-bottom: 10px;
    color: rgb(51, 51, 51);
    font-size: 12px;
    font-weight: 400;
}
.container-information .security a {
    color: rgb(51, 51, 51);
}
.block p {
    margin: 0px 0px 10px;
}
.footer-information .block .icon {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 7px;
    vertical-align: middle;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.footer-information .block {
    width: 226px;
}
.footer-information .block .store-title {
    margin-top: 36px;
}
.footer-address {
    padding: 40px 0px;
    background-color: rgb(255, 255, 255);
}
.container-address {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer-address .address {
    isplay: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 20px;
}
.footer-address .address {
    idth: 492px;
    margin-left: 20px;
}
.footer-address .address .address-title {
    margin-bottom: 1px;
    font-weight: 400;
    line-height: 22px;
}
.footer-address .address .address-text {
    margin-bottom: 1px;
    font-size: 11px;
    line-height: 22px;
}
.footer-copyright {
    padding: 15px 0px 10px;
    background-color: rgb(255, 255, 255);
}
.container-copyright {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}


body{
    background:#ccc;
}
.main {
    font-family:Arial;
    width:500px;
    display:block;
    margin:0 auto;
}


.slick-slider h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.action{
    display:block;
    margin:100px auto;
    width:100%;
    text-align:center;
}
.action a {
    display:inline-block;
    padding:5px 10px;
    background:#f30;
    color:#fff;
    text-decoration:none;
}
.action a:hover{
    background:#000;
}
.loading {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}